@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --color-background: #8E84F3;
  --color-primary: #000000;
  --color-accent: #FFED4A;
  --color-secondary: #6EF3A5;
  --color-card: #FFFFFF;
  --font-sans: "Inter", sans-serif;
  --radius-4xl: 2rem;
  --radius-pill: 9999px;
  
  --animate-spin-slow: spin 3s linear infinite;
}

body {
  background-color: var(--color-background);
  color: var(--color-primary);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}

@utility bento-card {
  background-color: var(--color-background);
  border-radius: 1.5rem;
  padding: 2rem;
  box-shadow: 6px 6px 0px 0px rgba(0,0,0,1);
  transition-property: transform, box-shadow;
  transition-duration: 300ms;
  border: 3px solid #000000;
  
  &:hover {
    transform: translate(-4px, -4px);
    box-shadow: 10px 10px 0px 0px rgba(0,0,0,1);
  }
}
